<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD nodejs</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Crud Node JS mongoDB</a>
                <a href="https://youtu.be/VxRXlUrV6y0" class="navbar-brand">Video del tutorial</a>
    </nav>

    <h1 style="text-align: center; padding-top: 20px;">CLIENTES</h1>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Dirrección</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i+1) %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].address %></td>
                                    <td><%= data[i].phone %></td>
                                    <td>
                                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger" > Borrar </a>
                                        <a href="/update/<%= data[i].id %>" class="btn btn-info" > Editar</a>
                                    </td>
                                </tr>

                                <% } %>
                        <% }%>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form class="" action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nombre" required class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="address" placeholder="Dirrección" required class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Teléfono(ejemplo: 52+39234479)" 
                                length="11"
                                required class="form-control">

                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>